@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-primary-light: #171717;
  --color-secondary-dark: #a3a3a3;
  --color-secondery-light: #737373;
  --color-border-light: #e5e5e5;
  --color-border-dark: #262626;
}

@font-face {
  font-family: "Yekan";
  src: url("../src/assets/fonts/IRANYekanX-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Yekan" , sans-serif;
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid rgb(207, 100, 118);
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}
.spinner-mini {
  margin: 0 auto;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid rgb(207, 100, 118);
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}